@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #121212;
  padding: 10px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.nav-logo i {
  font-size: 24px;
}

.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-library i {
  color: #b7b3b6;
  font-size: 14px;
  cursor: pointer;
}

.nav-library p {
  color: #b7b3b6;
  font-size: 14px;
  cursor: pointer;
}

.nav-playlist {
  background-color: #242424;
  padding: 16px;
  border-radius: 8px;

}

.nav-podcast {
  background-color: #242424;
  padding: 16px;
  border-radius: 8px;
}

.nav-playlist button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 4px 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.nav-podcast button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 4px 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

.nav-playlist p {
  font-size: 12px;
}

.nav-podcast p {
  font-size: 12px;
}

.nav-footer {
  margin-top: auto;

}

.nav-footer a {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 12px;
  margin-right: 12px;
  margin-bottom: 8px;

}

.nav-button-idioma {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 12px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 20px;
}

main {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto;
 

}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 300px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  margin-left: 10px;
  outline: none;

}

#login {
  align-items: center;
  padding: 18px 36px ;
  position: absolute;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  right: 30px;
  top: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#sign-up {
  align-items: center;
  padding: 18px 36px ;
  position: absolute;
  background-color: #1DB954;
  color: rgb(0, 0, 0);
  right: 155px;
  top: 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

}

#login:hover {
  background-color: #1DB954; 
  color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

}

#sign-up:hover {
  background: linear-gradient(45deg, #1DB954, #00FF7F); 
  color: #ffffff;
  transform: scale(1.1); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.artists-grid, .albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.artist-card, .album-card {
  background-color: #181818;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.artist-card:hover, .album-card:hover {
  background-color: #282828;
  
}

.artist-card img, .album-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 16px;
  max-height: 70%;
}

.artist-card h3, .album-card h3 {
  font-size: 12px;

}

.artist-card p, .album-card p {
  font-size: 10px;
  color: #b7b3b6;

}

.content {
  margin-top: 40px;

}

.content h2 {
  margin-bottom: 10px;
}

.banner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #AF2896, #509BF5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;

}

.banner h2 {
  font-size: 18px;

}

.banner p {
  font-size: 14px;

}

.banner button {
  border-radius: 20px;
  color: #000;
  border: none;
  padding: 12px 20px;
  font-weight: 600;
  cursor: pointer;
}












